@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/* HEADER START */

.title-advantages {
  text-align: center;
  font-size: 11px;
  color: #8c8278;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}

.title-advantages-item {
  margin-left: 4px;
}

.newsletterCounter {
  padding-left: 140px!important;
  padding-right: 140px!important;
}

.newsletterRecommendationHeader {
  text-align: center;
  font-size: 11px;
  color: #8c8278;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* HEADER END */

.newsletterIntroSection {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.newsletterIntroSectionItem {
  padding-bottom: 35px !important;
}

.newsletterCategories {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.newsletterCategoryContainer {
  padding-bottom: 5px;
}

.newsletterCategory {
  border: 2px solid #ff6f4d;
  padding: 6px 0px !important;
  text-align: center;
  font-size: 22px;
}

.newsletterLine {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.newsletterCategoryColumnLeft {
  padding-right: 5px !important;
  width: 50% !important;
}

.newsletterCategoryColumnRight {
  padding-left: 5px !important;
  width: 50% !important;
}

.newsletterGif {
  background-color: #ff6f4d;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 35px !important;
}

.newsletterFooter {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.newsletterConditions {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.newsletterFooterCompanyDetails {
  vertical-align: middle;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif !important;
  color: #000000;
  background: #ececec;
  width: 100%;
}

.newsletterFooterTitle {
  text-align: left;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.newsletterFooterCategories {
  padding-bottom: 35px;
}

.newsletterFooterBanner {
  padding-bottom: 20px !important;
}

.newsletterFooterCategoryLEFT {
  padding-bottom: 20px !important;
  padding-right: 10px !important;
}

.newsletterFooterCategoryRIGHT {
  padding-bottom: 20px !important;
  padding-left: 10px !important;
}

.newsletterFooterCategoryLEFTBottom {
  padding-right: 10px !important;
}

.newsletterFooterCategoryRIGHTBottom {
  padding-left: 10px !important;
}

.newsletterSocialIcon {
  padding-left: 25px !important;
}

.newsletterTopBottomContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.newsletterKlarnaBannerContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.footer {
  width: 50% !important;
}

/* FOOTER END */

/* NEWSLETTER LINE START */

.newsletterLineTop60 {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

/* NEWSLETTER LINE END */

/* SOONENDING START */

.newsletterSoonEndingTitle {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.newsletterSoonEndingBanner {
  padding-bottom: 20px;
}

.newsletterSoonEndingContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.newsletterSoonEndingTitleContainer {
  padding-bottom: 35px !important;
}

/* SOONENDING END */

/* CONTAINERS START */

.newsletterProductContainer {
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 15px !important;
}

.newsletterContainer {
  padding-top: 35px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.newsletterBottom35px {
  padding-bottom: 35px !important;
}

.newsletterBottom80px {
  padding-bottom: 80px !important;
}

.newsletterTitleContainer {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.newsletterCtaContainer {
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.newsletterInterestYouContainer {
  padding-bottom: 80px;
  padding-left: 35px;
  padding-right: 35px;
}

/* CONTAINERS END */

/* PRODUCT START */

.newsletterProductTitle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
}

.newsletterProductTitleContainer {
  padding-top: 20px;
}

.newsletterProductLowPrice {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
  font-weight: 600;
}

.newsletterProductHightPrice {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
  text-decoration: line-through;
}

.newsletterProductContainerLEFT {
  width: 50% !important;
  vertical-align: top;
  padding-right: 10px !important;
  padding-bottom: 35px !important;
}

.newsletterProductContainerRIGHT {
  width: 50% !important;
  vertical-align: top;
  padding-left: 10px !important;
  padding-bottom: 35px !important;
}

/* PRODUCT END */

.newsletterParagraph {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
}

.newsletterInfluencersChoiceText {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
}

.newsletterSummerSale {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.newsletterTitle {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
}

.newsletterCta {
  font-size: 20px;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline!important;
}

.newsletterInterestYouCta {
  font-size: 25px;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
}

.newsletterFreeProduct {
  padding-left: 20px;
  padding-right: 20px;
}

.newsletterFreebies {
  padding-top: 35px !important;
  padding-bottom: 70px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.newsletterFreebieTopLeft {
  padding-right: 40px !important;
}

.newsletterFreebieTopRight {
  padding-left: 40px !important;
}

.newsletterIFrame {
  margin-bottom: 35px !important;
}

.newsletterFreebieBottomLeft {
  padding-right: 40px !important;
}

.newsletterBottomFreebieMiddle {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.newsletterFreebieBottomRight {
  padding-left: 40px !important;
}



@media only screen and (max-width: 680px) {
  .newsletterCategoryColumnLeft,
  .newsletterCategoryColumnRight {
    display: block;
    padding: 0 !important;
    width: 100% !important;
    margin-bottom: 5px !important;
  }

  .newsletterCounter {
    padding-left: 35px!important;
    padding-right: 35px!important;
  }

  .newsletterInfluencersChoice {
    width: 100%!important;
  }

}

@media only screen and (max-width: 480px) {
  /* HEADER START */

  /* .title-advantages-item {
        display: block;
    } */

  /* HEADER END */

  .newsletterSummerSale {
    font-size: 25px!important;
  }

  .newsletterInterestYouContainer {
    vertical-align: top;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .newsletterInterestYouCta {
    font-size: 20px;
    line-height: 1.25;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
  }

  .newsletterIFrame {
    margin-bottom: 20px !important;
  }

  .newsletterFreebieTopLeft {
    padding-right: 10px !important;
  }

  .newsletterFreebieTopRight {
    padding-left: 10px !important;
  }

  .newsletterBottomFreebieMiddle {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .newsletterFreebieBottomLeft {
    padding-right: 10px !important;
  }

  .newsletterFreebieBottomRight {
    padding-left: 10px !important;
  }

  /* FOOTER START */
  .newsletterSocialIcon {
    padding-left: 13px !important;
  }

  .newsletterFooterCategoryLEFT {
    padding-bottom: 10px !important;
    padding-right: 5px !important;
  }

  .newsletterFooterCategoryRIGHT {
    padding-bottom: 10px !important;
    padding-left: 5px !important;
  }

  .newsletterFooterCategoryLEFTBottom {
    padding-right: 5px !important;
  }

  .newsletterFooterCategoryRIGHTBottom {
    padding-left: 5px !important;
  }

  .newsletterFooter {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .newsletterFooterCategories {
    padding-bottom: 20px !important;
  }

  .newsletterFooterBanner {
    padding-bottom: 10px !important;
  }

  .newsletterFooterTitle {
    font-size: 18px !important;
  }

  .newsletterTopBottomContainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .footer {
    width: 50% !important;
  }

  .newsletterKlarnaBannerContainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  /* FOOTER END */

  /* NEWSLETTER-LINE START */
  .newsletterLine {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .newsletterLineTop60 {
    padding-top: 30px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  /* NEWSLETTER-LINE END */

  /* SOONENDING START */
  .newsletterSoonEndingContainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .newsletterSoonEndingTitleContainer {
    padding-bottom: 20px !important;
  }

  .newsletterSoonEndingBanner {
    padding-bottom: 20px !important;
  }

  .newsletterSoonEndingTitle {
    font-size: 18px !important;
  }

  /* SOONENDING END */

  /* CONTAINERS START */

  .newsletterContainer {
    padding-top: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .newsletterProductContainer {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px !important;
    padding-right: 15px !important;
  }

  .newsletterTitleContainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 10px !important;
  }

  .newsletterCtaContainer {
    padding-bottom: 40px !important;
  }

  /* CONTAINERS END */

  /* PRODUCT START */

  .newsletterProductTitleContainer {
    padding-top: 10px !important;
  }

  .newsletterProductContainerRIGHT {
    padding-bottom: 20px !important;
  }

  .newsletterProductContainerLEFT {
    padding-bottom: 20px !important;
  }

  /* PRODUCT END */

  .newsletterBottom35px {
    padding-bottom: 20px !important;
  }

  .newsletterBottom80px {
    padding-bottom: 35px !important;
  }

  .newsletterFreebies {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .newsletterFreebieInsidePaddings {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .newsletterProductHightPrice {
    display: block;
    padding-left: 0px !important;
  }

  .newsletterProductTitle {
    font-size: 16px !important;
  }

  .newsletterProductLowPrice {
    font-size: 14px !important;
  }

  .newsletterIntroSection {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .newsletterIntroSectionItem {
    padding-bottom: 20px !important;
  }

  .newsletterCategories {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .newsletterCategory {
    font-size: 22px !important;
  }

  .newsletterParagraph {
    font-size: 16px !important;
  }

  .newsletterTitle {
    font-size: 25px !important;
  }

  .newsletterGif {
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .newsletterInfluencersChoiceTextContainer {
    padding-left: 3px!important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    padding-right: 3px!important;
  }
}

@media only screen and (max-width: 410px) {
  .newsletterInfluencersChoiceText {
    font-size: 10px!important;
  }
  
  .newsletterProductContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px !important;
    padding-right: 10px !important;
  }

  .newsletterCategories {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .newsletterIntroSection {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .newsletterCategory {
    font-size: 20px !important;
  }

  .newsletterInterestYouCta {
    font-size: 18px;
    line-height: 1.25;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
  }
}
